<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" csontent="ie=edge">
    <title>My app flask</title>
    <link rels="stylesheet" href="{{ url_for('static', filename=" css/bootstrap.min.css ")}}">
</head>

<body>
    <h1>Ola!</h1>
    {% if user %}
    <p>Bem vindo, {{ user }}!</p>
    {% else %}
    <p>Bem-vindo!</p>
    {% endif %}

    <script src="{{ url_for('static', filename=" js/bootstrap.min.js ")}}"></script>
</body>

</html>